@model BookResultModel


@{
    ViewData["Title"] = "View";

}

<h1 style="text-align:center">Books</h1>
<div class="row">
    <div class="col-md-12">
        <section>
            <form asp-action="Books" asp-controller="Home" method="post">
                <h3 class="text-center">Search book by title</h3>
                <hr />
                <div class="input-group mb-3 input-group-lg">
                    @Html.TextBox("search", null, new {placeholder = "Search", @class="form-control"})

                    <button class="btn btn-outline-primary btn-lg" type="submit" id="button-addon2"><i class="bi bi-search"></i> Search</button>
                </div>
            </form>
        </section>
        <hr />
    </div>
</div>
<div>
    @if (Model.books != null)
    {
        if (Model.total == "0")
        {
            <h3>No results</h3>
        }
        else
        {
            <h3>@Model.total results</h3>
            <div class="row">
                @foreach (var item in Model.books)
                {
                    <div class="col-md-3 d-flex" style="width: 18rem;padding-bottom:1rem">
                        <div class="card text-center">
                            <div class="card-header">
                                ISBN @item.isbn13
                            </div>
                            <div class="card-body">
                                <img src="@item.image" class="card-img-top" alt="No image">
                                <h5 class="card-title">@item.title</h5>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-end justify-content-end">
                                    <div class="col-4">
                                        @if (String.Equals(item.price, "$0.00"))
                                        {
                                            <h2><span class="badge badge-success">Free</span></h2>
                                        }
                                        else
                                        {
                                            <h2><span class="badge badge-secondary">@item.price</span></h2>
                                        }
                                    </div>
                                    <div class="col-8">
                                        <h2>
                                            <a asp-controller="Home" asp-action="Detalis" asp-route-isbn13="@item.isbn13" class="btn btn-info"><i class="bi bi-info-circle"></i> Detalis</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>



